.btn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #ff5aa7 0, #b91f1f 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,#ac1e1e 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}
.btn:focus {
  box-shadow: #ac1e1e 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ac1e1e 0 -3px 0 inset;
}
.btn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ac1e1e 0 -3px 0 inset;
  transform: translateY(-2px);
}
.btn:active {
  box-shadow: #ac1e1e 0 3px 7px inset;
  transform: translateY(2px);
}
.btn2 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #4b5f74 0, #1d5682 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,#4b5f74 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}
.btn2:focus {
  box-shadow: #4b5f74 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #4b5f74 0 -3px 0 inset;
}
.btn2:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #4b5f74 0 -3px 0 inset;
  transform: translateY(-2px);
}
.btn2:active {
  box-shadow: #4b5f74 0 3px 7px inset;
  transform: translateY(2px);
}
.imgs{
  @apply cursor-pointer w-full h-[400px] py-4 items-center relative
}
.imgs:hover{
  transform: scale(1.04);
  transition: transform 0.3s ease-in-out;
}